// ----------------------------------------
// TABLES
// ----------------------------------------

// Table
.c-table {
    width: 100%;
    
    th{
        text-align: left;
        border-bottom: 1px solid $border-color-table;
        padding: $padding-th;
    }

    td{
        border-bottom: 1px solid $border-color-table;
        padding:$padding-td;
    }

    &--bordered{
        border: 1px solid $border-color-table;
    }

}