// ----------------------------------------
// CONTAINER
// ----------------------------------------

.o-container{
    @include make-container($grid-gutter-width);

    @media (min-width: $bp-sm) {
        width: $cnt-sm;
    }

    @media (min-width: $bp-md) {
        width: $cnt-md;
    }

    @media (min-width: $bp-lg) {
        width: $cnt-lg;
    }

    @media (min-width: $bp-xl) {
        width: $cnt-xl;
    }

    @media (min-width: $bp-xxl) {
        width: $cnt-xxl;
    }
}