// ----------------------------------------
// GLOBAL
// ----------------------------------------

// BRAND ----------------------------------

// Color
$brand-color:                    #0074d9;
$brand-color-secondary:          #001f3f;

// Font
$brand-font:                     -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$brand-font-secondary:           Georgia, serif;

// BASE ------------------------------------

// Color
$base-font-size:                 1rem;
$base-line-height:               1.5;

// Border
$base-border-width:              0.125em;
$base-border-radius:             0.125em;

// Shadows
$base-box-shadow:                0 0 1em rgba(34, 34, 34, 0.125);
$base-box-shadow-inset:          0 0 0.25em rgba(34, 34, 34, 0.125) inset;
$base-box-shadow-error:          0 0 0.5em rgba(255, 65, 54, 0.25);
$base-box-shadow-highlight:      0 0 0.5em rgba(0, 169, 151, 0.25);