// ----------------------------------------
// GRID FLEXBOX
// ----------------------------------------

@function flex-col($column-with, $columns) {
    @return 100% / $columns * $column-with;
}

@mixin col-props($column-with, $columns, $gutter) {
    box-sizing: border-box;
    width: flex-col($column-with, $columns);
    &:not(:first-child){
        padding-left: $gutter / 2;
    }
    &:not(:last-child){
        padding-right: $gutter / 2;
    }
}

// @mixin columns-loop($name, $columns, $gutter) {
//   @for $i from 0 through $columns {
//     &-#{$name}-#{$i} {
//       @include col-props($i, $columns, $gutter);
//     }
//     &-#{$name}-shift-#{$i} {
//       margin-left: col-width($i, $columns);
//     }
//   }
// }

@mixin grid-base() {
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 100%;
}