// ----------------------------------------
// MIXINS
// ----------------------------------------

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin list-reset() {
    list-style: none;  
    margin: 0;
}

// https://lenguajecss.com/css/maquetacion-y-colocacion/flexbox/
@mixin flexColumns() {

}

// https://lenguajecss.com/css/maquetacion-y-colocacion/flexbox/
@mixin gridColumns() {

}