// ----------------------------------------
// RESPONSIVE
// ----------------------------------------

// Breakpoints
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// Container
$cnt-sm: 540px;
$cnt-md: 720px;
$cnt-lg: 960px;
$cnt-xl: 1140px;
$cnt-xxl: 1320px;