// ----------------------------------------
// GLOBAL
// ----------------------------------------

// BRAND ----------------------------------

// Color
$brand-color:                    #1ACDC2;
$brand-color-secondary:          #FF00E5;

$link-color:                       $brand-color;
$button-color:                   #333;

$body-bg:                        white;
$body-color:                     #333;


// Font
$font-size-base:                 16px;
$brand-font:                     -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$brand-font-secondary:           Georgia, serif;

// BASE ------------------------------------

// Border
$base-border-width:              0.125em;
$base-border-radius:             0.125em;

// Border radius elements
$border-radius-card:             0.125em * 1.5;
$border-radius-button:           0.125em * 1.5;

// Shadows
$base-box-shadow:                0 0 1em rgba(34, 34, 34, 0.125);

$base-box-shadow-inset:          0 0 0.25em rgba(34, 34, 34, 0.125) inset;
$base-box-shadow-error:          0 0 0.5em rgba(255, 65, 54, 0.25);
$base-box-shadow-highlight:      0 0 0.5em rgba(0, 169, 151, 0.25);

// Columns
$grid-columns:                   12 !default;
$grid-gutter-width:              1.5rem !default;
$grid-row-columns:               6 !default;

// Padding buttons
$y-padding:                      1rem;
$x-padding:                      1.5rem;


// Magin
$headdings-margin:               0 0 1rem 0;
$label-margin:                   0 0 .5rem 0;
$paragraph-margin:               0 0 .5rem 0;

// Tables
$border-color-table:            #d6d6d6;
$padding-th-y:                   0.7rem;
$padding-th-x:                   1rem;

$padding-td-y:                  0.7rem;
$padding-td-x:                  1rem;