// ----------------------------------------
// GLOBAL
// ----------------------------------------

// COLORS
$color-brand:                 #fca22d;
$color-brand-secondary:       #1ACDC2;

// Derivates
$color-brand-dark:            darken($color-brand, 10%);
$color-brand-light:           lighten($brand-color, 10%);

$color-brand-secondary-dark:  darken($color-brand-secondary, 5%);
$color-brand-secondary-light: lighten($color-brand-secondary, 5%);

// Utility
$color-error:                 #ff4136;
$color-error-dark:            darken($color-error, 20%);
$color-error-light:           lighten($color-error, 20%);

$color-warning:               #ff851b;
$color-warning-dark:          darken($color-warning, 10%);
$color-warning-light:         lighten($color-warning, 20%);

$color-highlight:             #ffdc00;

$color-success:               #2ecc40;
$color-success-dark:          darken($color-success, 5%);
$color-success-light:         lighten($color-success, 20%);

$color-information:           #0074d9;
$color-information-dark:      darken($color-information, 5%);
$color-information-light:     lighten($color-information, 20%);


$color-link:                   $color-brand;
$color-text-button:           #333;

$color-background:            white;
$color-text-body:             #333;


// TYPOGRAPHY
$font-size-base:              16px;
$font-brand:                  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
$font-global:                 Georgia, serif;

// Size
$font-size-h1:                2rem;     /* 32 / 16 */
$font-size-h2:                1.75rem;  /* 28 / 16 */
$font-size-h3:                1.5rem;   /* 24 / 16 */
$font-size-h4:                1.25rem;  /* 20 / 16 */
$font-size-h5:                1.125rem; /* 18 / 16 */
$font-size-h6:                1rem;     /* 16 / 16 */

$base-line-height:            1.2;

// Weight
$weight-bold:                 700;
$weight-normal:               400;

// BORDER
$base-border-width:           0.125em;
$base-border-radius:          0.125em;

// elements
$border-radius-card:          0.125em * 1.5;
$border-radius-button:        0.125em * 1.5;
$border-color-table:          #d6d6d6;

// Shadows
$base-box-shadow:             0 0 1em rgba(34, 34, 34, 0.125);
$base-box-shadow-inset:       0 0 0.25em rgba(34, 34, 34, 0.125) inset;
$base-box-shadow-error:       0 0 0.5em rgba(255, 65, 54, 0.25);
$base-box-shadow-highlight:   0 0 0.5em rgba(0, 169, 151, 0.25);

// COLUMNS
$grid-columns:                12 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;

// PADDING 
$padding-buttons:             1rem 1.5rem;
$padding-th:                  0.7rem 1rem;
$padding-td:                  0.7rem 1rem;

// MARGIN
$margin-headdings:            0 0 1rem 0;
$margin-label:                0 0 .5rem 0;
$margin-paragraph:            0 0 .5rem 0;

// RESPONSIVE

// Breakpoints
$bp-xs: 0;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// Container
$cnt-sm: 540px;
$cnt-md: 720px;
$cnt-lg: 960px;
$cnt-xl: 1140px;
$cnt-xxl: 1320px;