// ----------------------------------------
// PAGE
// ----------------------------------------

html {
    color: $body-color;
    font-family: $font;
    font-size: 16px;
    line-height: $base-line-height;
}