// ----------------------------------------
// LINKS
// ----------------------------------------

a {
    color: $color-brand;
    text-decoration: none;
    transition: color 0.25s;
    cursor: pointer;
  
    &:active,
    &:focus,
    &:hover {
      color: $color-brand-dark;
    }
}