// ----------------------------------------
// PAGE
// ----------------------------------------

html {
    color: $color-text-body;
    font-family: $font-global;
    font-size: $font-size-base;
    line-height: $base-line-height;
}