// ----------------------------------------
// PAGE
// ----------------------------------------

html {
    color: $body-color;
    font-family: $font;
    font-size: $font-size-base;
    line-height: $base-line-height;
}