// ----------------------------------------
// PAGE
// ----------------------------------------

html {
    color: $body-color;
    font-family: $font;
    font-size: $base-font-size;
    line-height: $base-line-height;
  }